/** Portfolio **/
.gallery_container {
  column-count: 1;
  column-gap: 0;
}

.portfolio_item_inner {
  min-height: 310px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgb(187 187 187 / 25%);
  margin-bottom: 20px;
  background-size: cover;
  background-position: center top;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.portfolio_inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  align-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(119, 137, 174, 0.8);
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
  opacity: 0;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .portfolio_inner {
    -webkit-backdrop-filter: blur(4px);
    background: rgba(119, 137, 174, 0.7);
    backdrop-filter: blur(4px);
  }
}

span.portfolio_categoria {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.porfolio_top_content {
  flex: 0 0 100%;
  width: 100%;
}

h3.portfolio_titulo {
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.03em;
  margin-top: 9px;
}

.portfolio_item_a:hover .portfolio_inner {
  opacity: 1;
}

.portfolio_item_inner .button {
  touch-action: none;
}

section#portfolio .botoncargarmas {
  text-align: center;
}

section#portfolio {
  position: relative;
  padding-bottom: 160px;
}

#portfolio::before {
  content: "";
  width: 139px;
  height: 210px;
  background-image: url(../../../assets/img/flor5.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: -30px;
  right: -10px;
}

@media (min-width: 768px) {
  .portfolio_item_inner {
    min-height: 342px;
  }

  .gallery_container {
    column-count: 2;
    column-gap: 20px;
  }
  section#portfolio {
    padding-bottom: 80px;
  }
  #portfolio::before {
    width: 189px;
    height: 260px;
    bottom: -150px;
    right: -63px;
  }
}

.modalPortfolio {
  position: fixed;
  z-index: 999999999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.modalPortfolio::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.modalPortfolio .modalInterior {
  background: var(--fondo);
  z-index: 9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
  height: calc(100vh - 20px);
  position: relative;
  overflow-y: scroll;
}
a.cerrar {
  font-size: 24px;
}

.grid-item img {
  max-width: 100%;
}

.sticky_section {
  position: sticky;
  top: 0;
  margin-bottom: 20px;
}

.cerrar path {
  stroke: var(--rosa);
}

.cerrar {
  cursor: pointer;
}
h3.tituloPortfolio {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: var(--principal);
}

.grid-item img {
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

.modalPortfolio .modalInterior::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.modalPortfolio .modalInterior::-webkit-scrollbar-thumb {
  background: var(--rosa);
  border-radius: 20px;
}

@media (min-width: 768px) {
  .modalPortfolio {
    padding: 40px;
  }
  .modalPortfolio .modalInterior {
    padding: 60px;
    height: calc(100vh - 80px);
  }
}
