<section id="contacto">
  <div class="container">
    <div class="row">
      <app-encabezado title="Contacto"></app-encabezado>
      <div class="col-12 col-md-6 pe-6">
        <p>
          <strong>¿Hablamos?</strong><br />
          Si no te gusta completar formularios, podés enviarme un
          <a target="_blank" href="mailto:hola@micaela.com.ar">email</a>
          o contactarme por
          <a target="_blank" href="https://wa.me/1166858532">whatsapp</a>.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <form action="" class="formulario" id="form_contacto">
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="campo_formulario"
                placeholder="Nombre"
                aria-label="Nombre"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="campo_formulario"
                placeholder="Apellido"
                aria-label="Apellido"
              />
            </div>
            <div class="col-12">
              <input
                type="text"
                class="campo_formulario"
                placeholder="Asunto"
                aria-label="Asunto"
              />
            </div>
            <div class="col-12">
              <textarea
                rows="4"
                type="text"
                class="campo_formulario"
                placeholder="Mensaje"
                aria-label="Mensaje"
              ></textarea>
            </div>
            <div class="col-12 text-right">
              <input type="submit" value="Enviar mensaje" class="button" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
