<div id="main">
  <div class="container-fluid p-0">
    <div class="row">
      <div id="sidebar" class="col-12 col-md-3">
        <app-sidebar></app-sidebar>
      </div>
      <div id="content" class="col-12 col-md-9">
        <router-outlet>
          <app-home></app-home>
          <app-sobremi></app-sobremi>
          <app-experiencia></app-experiencia>
          <app-educacion></app-educacion>
          <app-habilidades></app-habilidades>
          <app-idiomas></app-idiomas>
          <app-portfolio></app-portfolio>
          <app-contacto></app-contacto>
          <app-copyright></app-copyright>
        </router-outlet>
      </div>
    </div>
  </div>
</div>
