<div class="container_modal" *ngFor="let portfolioitem of portfolioFull">
  <div
    class="modalPortfolio"
    data-id="{{ portfolioitem.id }}"
    *ngIf="portfolioID == portfolioitem.id"
  >
    <div class="container">
      <div class="row modalInterior">
        <div class="col-12 col-md-5">
          <div class="sticky_section">
            <a class="cerrar" [routerLink]="['']" fragment="portfolio">
              <svg
                width="25"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="arrow-left">
                  <path
                    id="Vector"
                    d="M19.6528 12.2032H5.65283"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    id="Vector_2"
                    d="M12.6528 19.2032L5.65283 12.2032L12.6528 5.20325"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
              </svg>
            </a>
            <h3 class="tituloPortfolio">{{ portfolioitem.title }}</h3>
            <p class="description">
              {{ portfolioitem.description }}
            </p>
            <a
              *ngIf="portfolioitem.link"
              href="{{ portfolioitem.link }}"
              class="button"
              target="_blank"
              >Ver en vivo</a
            >
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="gridPortfolio">
            <div
              class="grid-item"
              *ngFor="let imagen of portfolioitem.masonryItems"
            >
              <img src="{{ imagen.image }}" alt="{{ imagen.imageTitle }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
